.banner{
    text-align: center;
    letter-spacing: 2%;
    font-size: 200%;
    margin-top: 3%;
    font-family: "Lucida Console", monospace;
    text-decoration: blink;
    background-color: bisque;
    position: fixed;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: darkgrey;
}

nav {
    font-family: Verdana;
    justify-content: space-between;
    position: fixed;
    margin-left: 50%;
}

.bar {
    background-size: 100% 100%;
    background-color: bisque;
}

p{
    font-family: Verdana;
    font-size: 110%;
    padding: 10%;
    margin-left: 30%;
    margin-right: 5%;
    margin-top: 5%;
}

.profilepic {
    height: 30%;
    width: 20%;
    margin-left: 5%;
    margin-top: 13%;
    border-radius: 15px;
}

.sec_header {
    text-orientation: upright;
    font-size: 150%;
    font-family: Verdana;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}