

/* background colors */
body {
    background: -webkit-linear-gradient(top, bisque 16%, pink 35%, powderblue 55%, plum 75%, darkseagreen 86%, sandybrown 100%);
}


/* name banner */
.banner{
    text-align: center;
    letter-spacing: 2%;
    margin-top: 13%;
    font-family: "Oswald";
    /* position: fixed; */
}
#name { font-size: 1000%;}
#subname { font-size: 200%;}

.arrow {
    font-family: Oswald;
    opacity: 0.8;
    text-align: center;
    padding: 5%;
}

.arrow::before {
    content: '╲╱';
    color: black;
    animation: bounce 1s ease infinite;
    position: relative;

    /* font-size: 2rem; */
    /* height: 4rem; */
    /* line-height: 4rem; */
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }
/* navigation bar */
nav {
    font-family: Verdana;
    justify-content: space-between;
    position: fixed;
    margin-left: 50%;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: darkgrey;
}

/* text & images */ 

p{
    font-family: Verdana;
    font-size: 110%;
    padding: 5%;
    margin-top: 13%;
}

.section_header {
    font-size: 150%;
    font-family: Oswald;
    color: ivory;
}



.profilepic {
    height: 30%;
    width: 20%;
    padding: 5%;
    margin-top: 13%;
    border-radius: 85px; 
    float: left;
}

.workpic {
    height: 30%;
    width: 20%;
    padding: 5%;
    margin-top: 13%;
    float: left;
}

