.banner{
    text-align: center;
    letter-spacing: 10px;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Lucida Console", monospace;
    text-decoration: blink;
    
}
.para{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tab{
    text-align: center;
}

.profilepic {
    height: 350px;
    width: 210px;
}